{% include 'header.html' %}

<div class="container-fluid p-3">
    <div class="bg-dark">
        <h1 style="color:white; font-size:60px; margin-left:10px;">Let's see how you did:</h1>
    </div>
</div>

<div style="margin: 10px"> 
    <ol style="text-emphasis:emphasis 10px; font-size:30px;">
        <li>
            <strong>Question 1 Answer: D</strong>
            <ul style="font-size: 20px">
                <li>In their podcast they frequently discuss their reddit use and the weird obsurd things they find on it.</li>
                <li>They rarely actually propunce usually just spell it: "r-e-d-d-i-t"</li><br>
            </ul>
        </li>
        <li>
            <strong>Question 2 Answer: D</strong>
            <ul style="font-size: 20px">
                <li>"Yo what is going on guys its your boy Matty Fucking Smokes"</li>
                <li>One of their classic that's cringe videos: Vape Hotbox Challage</li>
                <li>Yes. Some teenagers actually got in a car one day with the sole intention of vaping in it alot</li><br>
            </ul>
        </li>
        <li>
            <strong>Question 3 Answer: B</strong>
            <ul style="font-size: 20px">
                <li>Noel's response when hearing this line: "See the world through birds what the fuck is she the raven from Game of Thrones"</li>
                <li>They met at Wholefoods: he was buying rose and she was buying celary</li>
                <li>The couple this that Cringe video features is so goals. Every conversation they have is straigt up bars</li><br>
            </ul>
        </li>
        <li>
            <strong>Question 4 Answer: A</strong>
            <ul>
                <li>You can call Matthew McConaughey alot of things, but he does not like it when you call him sugar gay</ll>
                <li>Amazing, inspiring author</li><br>
            </ul>
        </li>
    </ol>
</div>






{% include 'footer.html' %}