

<div class="footer">
    <p>Connect with Tiny Meat Gang:
    <a class="spacing" href="https://www.youtube.com/channel/UC4sf8XtH_uXnwNP699luQVQ" target="_blank" rel="noopener noreferrer" title="Youtube"></a>
    <a class="spacing" href="https://www.youtube.com/channel/UC4sf8XtH_uXnwNP699luQVQ" target="_blank" rel="noopener noreferrer">Youtbe</a>
    <a class="spacing" class="spacing" href="https://www.instagram.com/tinymeatcuts/" target="_blank" rel="noopener noreferrer">Instagram</a>
    <a class="spacing" class="spacing" href="https://twitter.com/tinymeatgang" target="_blank" rel="noopener noreferrer">Twitter</a>
    <a class="spacing" href="https://tinymeatgang.libsyn.com/" target="_blank" rel="noopener noreferrer">Podcast</a>
    <a class="spacing" href="https://tmgpod.com/" target="_blank" rel="noopener noreferrer">Merch</a>
    <a class="spacing" href="https://www.patreon.com/tinymeatgang" target="_blank" rel="noopener noreferrer">Patreon</a>
    <p style="text-align:right; color:rgb(202, 207, 209)">Page Created by: Kacey Volmar<br>Created 2020</p>
    </p>
</div>


<!-- need to seperate these links & change link colors-->



</body>
</html>