{% include 'header.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 text-center my-5">
            <h1>Error 404</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center my-5">
            <h2>This page is full of friction...</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center">
            <a href="/" class="btn btn-outline-secondary">Click here to get back to the frictionless pages</a>
        </div>
    </div>
</div>

{% include 'footer.html' %}