{% include 'header.html' %}

<background img="https://cdn.hipwallpaper.com/m/29/6/dqJPfM.jpg" style=opacity:50px></background-img>

<img id="back" scr="https://cdn.hipwallpaper.com/m/29/6/dqJPfM.jpg"alt="tiny">

<div class="container">
    <div class="row justify-content-center">
        <div class="text-centern p-3">
            <h1>Error 404</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center my-5">
            <h2>This page is full of friction...</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center my-5">
            <a href="/" class="btn btn-outline-secondary">Click here to get back to the frictionless pages</a>
        </div>
    </div>
</div>





{% include 'footer.html' %}