{% include 'header.html' %}

<h1 class="container-fluid p-3">
    <div class=text-left-right-center>
        <div style="background-color:#343A40;">
            <span class="left-text names">Cody Ko</span>
            <span style="color:white; font-size:70px;">TMG</span>
            <span class="right-text names">Noel Miller</span>
        </div>
    </div>
</h1>



<!-- INTRO -->
<div class="container" style="background-color: rgb(101, 204, 238);">
    <strong>Tiny Meat Gang (TMG) is a group of 2 short kings: Cody Ko (5'9") and Noel Miller (5'9"). They have a podcast, create music, tour, and stream. They are most known for their youtube videos which features comentary vidoes like "That's Cringe" (where they make fun of cringey people and content), read DM's that were sent to them or dirty fanfic, and play the animated app Love Island. They are also famous for their serious music where they flex their lavious lifestyle (which could be considered very f*ckboy & savage).</strong>
</div>

<div class="clearfix" style="padding:70px;">
    <img class="img1" src="https://miro.medium.com/max/1400/1*AH_RQMvFKVrBoV6NsJDi9g.jpeg" alt="TMG" width="639" height="319">
    <br>
    <br>
    <strong class="para" style="vertical-align:middle;">Prior to Cody and Noels start in comedy they were both backend developers.Starting to gain a following on vine they both started making youtube videos.Their videos were mainly commentary style, vlogs, and sketches.In 2017, with fans and subscribers rising, they created TMG.</strong>
</div>



<!-- Either popular songs OR subscribers and youtube listeners -->




{% include 'footer.html' %}