{% include 'header.html' %}


<div class="container-fluid p-3">
    <div class="bg-dark" style="color:white; font-size:70px;">
        <h1 style="text-align:left; margin-left: 7px;">Their stuff</h1>
    </div>
</div>




<div class="container" style="margin-left:20px"> 
    <h2>Facts about Noel:</h2>
        <ul stlyle="margin-left:30px">
            <li>Canadian</li>
            <li>Unlike Cody, he prefers alcohol to marijuana</li>
            <li>Never talks about MMA</li>
            <li>Alena</li>
            <li>Preferces youtube over twitch</li>
            <li>pronunces his nane "no-L"</li>
            <li>Would never see a therapist.</li>
            <li>Not a gamer</li>
            <li>Does not like doing sketches, Provo, or pony play</li>
            <li>Definietly doesn't have a crush on Spook</li>
        </ul>  
</div>





{% include 'footer.html' %}